/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.gap-2 {
    gap: 4px;
}

.mt-3 {
    margin-top: 6px;
}
.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-full-screen {
    width: 100vw;
}
.h-full-screen {
    height: 100vh;
}

.p-3 {
    padding: 12px;
}